* {
    box-sizing: border-box;
  }

body {
    margin: 0;
  }
  
  header {
    background-color: teal;
    text-align: center;
    padding: 20px;
}

nav {
    overflow: hidden;
    background-color: tomato;
  }
  
  /* Style the topnav links */
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  main{
    background-color: lightblue;
}
  /* Create three equal columns that floats next to each other */
.column {
    background-color: lightblue;
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  footer {
    background-color: lightgreen;
    text-align: center;
    padding: 10px;
  }

 /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }